<h1 style="font-size: 24px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px; margin-top: 20px;">Dashboard</h1>

<%# user card %>
<% if user_signed_in? %>


      <% if @user_bookings %>
        <div class="card-header">
          <p style=" margin-left: 20px; margin-right: 20px;">You have booked <strong><%= @user_bookings.count %></strong> baby items.</p>
           <h3 style=" margin-left: 20px;>Booking Details">Booking Details</h3>
        </div>
         <div class="flex-container" style=" margin-left: 20px; margin-right: 20px;">
            <% @user_bookings.each do |booking| %>
             <div class="card-container" style="margin-bottom: 20px; ">
    <div class="card" style="border: 1px solid #ccc;">
    <div class="card-body">
              <div class="card-item">
                <div class="card-details">
                  <h3><%= booking.item.name %></h3>
                  <p><strong>Start Date:</strong> <%= booking.start_date %> <strong>End Date:</strong> <%= booking.end_date %></p>
                  <p><strong>Description:</strong> <%= booking.item.description %></p>
                  <p><strong>Item Price: </strong> £ <%= booking.item.price %></p>
                </div>
                <div class="card-footer">
                  <p><strong>Owner</strong>
                  <p> <%= booking.item.user.email %></p>
                </div>
              </div>
               </div>
               </div>
    </div>
            <% end %>
             </div>
      <% else %>
        <p style=" margin-left: 20px;" class="no-data">You have no bookings</p>
      <% end %>



  <%# owner card %>
  <div class="flex-container" style=" margin-left: 20px; margin-right: 20px;">


        <% if @owner_items %>
          <div class="card-header">
            <p style=" margin-left: 20px;">You have uploaded <strong><%= @owner_items.count %></strong> baby items.</p>
            <h3 style=" margin-left: 20px;>Booking Details">Upload Details</h3>
          </div>
          <div class="card-body">

              <% @owner_items.each do |item| %>
               <div class="card-container">
                <div class="card" style="border: 1px solid #ccc;">
                <div class="card-item">
                  <div class="card-details">
                    <p><strong>Item Name:</strong> <%= item.name %></p>
                  </div>
                  <div class="card-footer">
                    <p><strong>Item Description:</strong> <%= item.description %></p>
                    <p><strong>Item Price:</strong> <%= item.price %></p>
                  </div>
                </div>
                </div>
                </div>
              <% end %>
            </div>

        <% else %>
          <p style=" margin-left: 20px; margin-right: 20px;" class="no-data">You own no baby items</p>
          <%= link_to "Back To Homepage", root_path %>
        <% end %>

  </div>

<% else %>
  <p style="font-style: italic;">Please sign in to view your dashboard.</p>
<% end %>
