
<div class="congratulations-box">
  <h1>Gongratulations</h1>
  <h2>Booked: <%= @booking.item.name %></h2>
  <h3>From <%= @booking.start_date %> to: <%= @booking.end_date %></h3>

  <p><strong>Item:</strong> <%= @booking.item.name %></p>
  <p><strong>contact to be in touch with the owner: </strong> <%= @booking.user.email %></p>
 <%= link_to "See all you bookings", dashboard_path, class:"btn btn-warning" %>
</div>
