<h1>Feeding</h1>


<div class="container">
<div class=" d-flex justify-content-around" >

    <div class="categories" ><%= link_to "Sleep", sleep_path  %></div>
    <div class="categories"><%= link_to "Travel", travel_path  %></div>
    <div class="categories"><%= link_to "Feeding", feeding_path  %></div>
    <div class="categories"><%= link_to "Play", play_path  %></div>
  </div>
<div class="row m-0" >

  <% @items.each do |item| %>
    <div  class="col-3">
    <%= link_to item_path(item) do %>
      <div class="card-container" style="flex-wrap:wrap; flex-direction:column; background-color:white;  border: 1px solid #ccc;padding-right:0px;border-radius: 5px;">
        <div class="card-container-top" style="flex:50% ; display:flex; justify-content:center">
          <%= link_to item_path(item) do  %>
          <img src= "https://www.getdawah.com/cdn/shop/products/a38.png?v=1565406743&width=1500"  style = "width:200px; height:200px align-item:center"></a>
          <% end %>
        </div>
        <div class="card-container-bottom" style="flex:50% ">
          <h5><strong><%= item.name %></strong></h5>
          <h4>From £ <%= item.price %></h4>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
<%= link_to "Back To Homepage", root_path %>

</div>
</div>

<%# <img src="" class="card-img-top" alt=""> %>
<%# <%= link_to 'book', new_item_booking_path(@item), class: 'product-card__button' %>
