<h1></h1>
<%# Displays details of a single booking %>
<%= stylesheet_link_tag 'application' %>

<div class="product-card" style="border: 1px solid #ccc; padding: 20px; margin: 10px; width: 800px;">
  <div class="product-card__media">
    <img src="https://baboodle.co.uk/cdn/shop/products/MinlaHighChair-851973.jpg?v=1670324775" alt="Product image" width="200px">
  </div>
  <div class="product-card__info">
    <h2 class="product-card__title"><%= @item.name %></h2>
    <p class="product-card_description"> <%= @item.description %> </p>
    <p class="product-card__price"> £ <%= @item.price %></p>
    <%# <button class="product-card__button">Book</button> %>
    <%= link_to 'book', new_item_booking_path(@item), class: 'product-card__button' %>
  </div>
</div>
<%= link_to "Back To Items", items_path %>
